/**
 * GridFieldAddExistingSearchButton
 */

.add-existing-search-dialog {
  min-width: inherit !important;
}

.add-existing-search-dialog .add-existing-search-form {
  .field {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;

    label {
      padding-bottom: $input-btn-padding-y-sm;
    }
  }

  .Actions {
    margin-top: 10px;
    padding: 0;
  }
}

.add-existing-search-dialog .add-existing-search-items {
  list-style-type: none;
  padding-left: 0;

  li a {
    background: $white;
    border: 1px solid $border-color-light;
    border-bottom: 0;
    display: block;
    padding: $input-btn-padding-x-sm;

    &:hover {
      background: $gray-200;
    }
  }

  li:first-child a {
    border-top-left-radius: $input-btn-padding-y-sm;
    border-top-right-radius: $input-btn-padding-y-sm;
    border-top-width: 1px;
  }

  li:last-child a {
    border-bottom: 1px solid $border-color-light;
    border-bottom-left-radius: $input-btn-padding-y-sm;
    border-bottom-right-radius: $input-btn-padding-y-sm;
  }
}

.add-existing-search-dialog .add-existing-search-pagination {
  padding-left: 0;

  .page-item--icon .page-link {
    // Offset 1px border difference from Bootstrap
    padding-bottom: 5px;
  }
}

.add-existing-search-dialog .add-existing-search-button {
  margin: 1rem 0;
}
